body {
    margin: 0 auto;
}
#city .container,
.call-btn {
    border-radius: 4px;
}

.section {
    padding: 0;
    margin-bottom: 30px;
}
#city {
    min-height: 100vh;
}

.picture-container {
    width: 100vw;
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.picture-container img {
    width: 100vw;
    height: auto;
}


.container {
    margin-top: 30px;
}

/*
h4 {
    text-transform: uppercase;
    font-weight: bold;
}
*/

.offer-city {
    margin: 0 0 0 60px;
    padding: 20px;
}

.offer-city li {
    padding: 5px;
    text-decoration: none;
}

.offer-city .fa {
    padding-right: 10px;
    font-size: 1.2em;
    color: #d0262b;
}

.slogan {
    margin: 20px 0;
    font-size: 1.6em;
    font-weight: 700;
}

.btn-large {
    width: 250px;
}

.button-container a {
    font-size: 1.6em;
    margin-bottom: 0;
}

.button-container .col {
    padding: 0;
}

.btn-hollow {
    border: 2px solid #d0262b;
}

.btn-hollow:hover {
    background-color: #d0262b !important;
    color: #fff !important;
}
.btn-num:hover {
        border: 2px solid #d0262b !important;
background-color: #fff !important;
    color: #d0262b !important;
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {

   .offer-city {
        margin: 0;
        padding: 10px;
    }
    .offer-city li {
        padding: 5px;
    }
    .call-button-container {
        text-align: center;
    }
    
    h4 {
        text-align: center;
    }
    
}
