body {
    margin: 0;
    padding: 0;
}

nav {
    height: 100px;
    line-height: 100px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .lock-logo {
    margin: 0 10px 0 50px;
    width: 45px;
    vertical-align: sub;
}

.lock-logo-right {
    margin: 25px 15px 0 0;

    float: right;
    width: 45px;
    /*    vertical-align: middle;
    */
}

.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 1.1em;
    letter-spacing: 1.1;
    text-transform: uppercase;
    /*    vertical-align: middle;*/
}

.logo-web {
    font-size: 0.4em;
    text-transform: lowercase;
}

nav li:hover {
    background-color: #333;
}

nav li:last-of-type {
    margin-right: 50px;
}

.side-nav {
    font-size: 2em !important;
}

.side-nav li:hover {
    background-color: #eee;
}

.side-nav li:hover > a {
    color: #ef6c00;
}

.side-nav li:last-of-type {
    margin-right: 0;
}


.btn-floating {
    border: 1px solid #fff;
}

.parallax-container {
    max-height: 100%;
}

.motto {
    display: inline-block;
    z-index: 100;
    margin: 0 0.75rem 0 0.75rem;
    padding: 15px;
    line-height: 1.5;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 6px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1;
}

.hours {
    margin-left: 5px;
    color: #f98b25;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.parallax-container svg {
    width: 100px;
    z-index: 100;
}

/*
.parallax-container svg path {
        fill: #ff9800;
    fill: #222;
}
*/
.cities {
    padding: 8px 12px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    font-size: 1.3em;
}

.cities li {
    display: inline;
    padding: 10px;
}

.call-btn {
    font-size: 1.4em;
}

/* OFFER */

.light {
    margin-bottom: 0;
}

/* LOCALISATIONS */

.localisations {
    margin: 0 auto;
}

.localisations ul {
    width: 100%;
    margin-bottom: 0;
}

.localisations a {
    font-weight: 400;
    font-size: 0.8em;
}

.localisations li {
    display: inline;
    margin: 10px 12px 10px 0;
    padding: 8px 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    line-height: 2.5em;
}

.localisations li:hover {
    background-color: #f5f5f5;
}

.about {
    padding-top: 0;
    padding-bottom: 0;
}
.about hr {
    margin-bottom: 40px;
    width: 80%;
}
/*
.localisations img {
    width: 400px;
}*/

/*
#oferta ul {
    list-style: circle;
}
*/

/* PARALLAX 2 */

/* .police {
    width: auto;
    height: 500px;
    padding-left: 40px;
    font-size: 1.6em;
    background-color: #ef6c00;
    background-image: url("https://images.pexels.com/photos/721480/pexels-photo-721480.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350");
    background-size: cover;
} */
.section-police {
    height: 450px;
    background-color: #000;
    position: relative;
}

.section-police .row .col {
    padding: 0;
}

.section-police h5 {
    padding-top: 25%;
}

.section-police .lockers {
    height: 100%;
    width: auto;
}

.section-police .logo-police {
    margin: 30px 0;
}

/* .police img {
    margin-top: 30px;
    width: 350px;
}

.police p {
    text-transform: uppercase;
} */

/* CONTACT */

.info-section {
    border-top: 1px solid #ccc;
}


/*
.contact {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

*/
.form-container {
    background-image: url("https://images.pexels.com/photos/257853/pexels-photo-257853.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
.contact .container {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.contact > .row > .row {
    margin: 0;
}

.contact p {
    font-size: 1.1em;
}

.contact p:first-child {
    margin-top: 20px;
}

.contact-info {
    font-weight: 500;
}

.company {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-right: 4px;
}

.num {
    font-size: 1.6em !important;
    font-weight: 700;
}

.contact .fa {
    font-size: 2em;
    color: #1976d2;
}

.contact .fa-mobile {
    padding-right: 10px;
}

/* FORM, MAP AND LABELS */

.map-container {
    height: 400px;
    margin: 0;
    padding: 0;
}

.map {
    height: 100%;
    width: 100%;
    position: relative;
    /*
    top: 0;
    left: 0;*/
    z-index: -1;
}

.infoWindow {
    font-family: "Open Sans", sans-serif;
    height: 50px;
    font-size: 1.1em;
    padding: 5px;
}

.form-container {
    display: flex;
    flex-direction: row;
}

/*
.form-container {
    box-sizing: border-box;
    max-width: 400px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.93);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
*/

.contact form {
    width: 50%;
/*    background-color: #fff;*/
        background: rgba(255, 255, 255, 0.93);
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 30px auto 10px;
    padding-top: 25px !important;
}

.contact form .row .col {
    padding: 0 2rem;
}

.contact form label {
    padding-left: 1rem;
}

/*
.contact .form-bg {
    width: 50%;
    background-image: url('../img/canstockphoto0166589.jpg');
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 40px;

}
*/

/* .input-field {
    padding-top: 25px;
} */

.input-field label {
    color: #000;
    font-weight: 400;
}

.input-field input,
.input-field textarea {
    border-bottom: 1px solid #000 !important;
}

.input-field input[type=text]:focus + label {
    color: #ef6c00 !important;
}

.input-field input[type=email]:focus + label {
    color: #ef6c00 !important;
}

.input-field textarea[class=materialize-textarea]:focus + label {
    color: #ef6c00;
}

/* label underline focus color */

.input-field input:focus {
    /*    border-bottom: 1px solid #ef6c00 !important;
    */
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field textarea[class=materialize-textarea]:focus {
    /*    border-bottom: 1px solid #ef6c00;*/
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=email]:focus {
    /*    border-bottom: 1px solid #ef6c00 !important;
    */
    box-shadow: 0 1px 0 0 #000 !important;
}

/* FOOTER */

footer {
    height: 40px;
    padding: 0 !important;
}

.just {
    justify-content: center;
}

footer p {
    margin: 0;
}


/* CITY PAGES */

.call-btn {
    margin-bottom: 2.5rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    .call-btn-container {
        float: none !important;
        text-align: center;
    }    
        
    .logo {
        margin-left: 50px;
    }
    
    .lock-logo-right {
        display: none;
    }
    
    .police {
        height: 250px;
        padding-right: 15px;
        font-size: 1.4em;
    }
    
    .police img {
        width: 200px;
        margin-top: 0;
    }

    .cities {
        font-size: 1.1em;
    }

    .section-police {
        height: 600px;
    }

    .section-police h5 {
        padding-top: 30px;
        padding-left: 30px;
        font-size: 2em;
    }

    .section-police .logo-police {
        width: 320px;
    }

    .section-police .lockers {
        height: auto;
    }
    

}

@media only screen and (min-width: 1000px) {
        .police {
        height: 550px;
            background-attachment: fixed;
    }

    .police img {
        width: 500px;
    }
    

}