body {
    margin: 0;
    padding: 0;
}

nav {
    height: 100px;
    line-height: 100px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .lock-logo {
    margin: 0 10px 0 50px;
    width: 45px;
    vertical-align: sub;
}

.lock-logo-right {
    margin: 25px 15px 0 0;

    float: right;
    width: 45px;
    /*    vertical-align: middle;
    */
}

.logo {
    /*    margin-left: 50px;
    */
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    /*    vertical-align: middle;*/
}

.logo-web {
    font-size: 0.4em;
    text-transform: lowercase;
}

nav li:hover {
    background-color: #333;
}

nav li:last-of-type {
    margin-right: 50px;
}

.btn-floating {
    border: 1px solid #fff;
}

.parallax-container {
    height: 500px;
}

.motto-container {
    margin: 0;
}

.motto {
    display: inline-block;
    z-index: 100;
    padding: 15px;
    line-height: 1.5;
    background: rgba(20, 20, 20, 0.8);
    border-radius: 6px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.1;
}

.parallax-container svg {
    width: 100px;
    z-index: 100;
}

.parallax-container svg path {
    /*    fill: #ff9800;*/
    fill: #222;
}

.cities {
    padding: 8px 12px;
    margin-top: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    font-size: 1.3em;
}

.cities li {
    display: inline;
    padding: 10px;
}

.call-btn {
    font-size: 1.4em;
}

/* LOCALISATIONS */

.localisations {
    margin: 0 auto;
}

.localisations ul {
    width: 100%;
}

.localisations a {
    font-weight: 400;
    font-size: 0.8em;
}

.localisations li {
    display: inline;
    margin: 10px 12px 10px 0;
    padding: 8px 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    line-height: 2.5em;
}

.localisations li:hover {
    background-color: #f5f5f5;
}

/*
.localisations img {
    width: 400px;
}*/

/* PARALLAX 2 */

.police {
    width: 100%;
    margin-left: 5%;
    font-size: 1.6em;
}

.police img {
    width: 250px;
}

/* CONTACT */

.info-section {
    border-top: 1px solid #ccc;
}


/*
.contact {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

*/

.contact .container {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact > .row > .row {
    margin: 0;
}

.contact p {
    font-size: 1.1em;
}

.contact p:first-child {
    margin-top: 20px;
}

.contact-info {
    font-weight: 500;
}

.company {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-right: 4px;
}

.num {
    font-size: 1.2em;
}

.contact .fa {
    font-size: 2em;
    color: #1976d2;
}

.contact .fa-mobile {
    padding-right: 10px;
}

/* FORM, MAP AND LABELS */

.map-container {
    height: 400px;
    margin: 0;
    padding: 0;
}

.map {
    height: 100%;
    width: 100%;
    position: relative;
    /*
    top: 0;
    left: 0;*/
    z-index: -1;
}

.form-container {
    display: flex;
    flex-direction: row;
}

/*
.form-container {
    box-sizing: border-box;
    max-width: 400px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.93);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
*/

.contact form {
    width: 50%;
    height: 60%;
    background-color: #fff;
    /*
    border: 1px solid #ccc;
    border-radius: 6px;*/
    margin: 30px auto 0;
    padding: 40px 10px 10px;
}

/*
.contact .form-bg {
    width: 50%;
    background-image: url('../img/canstockphoto0166589.jpg');
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 40px;

}
*/

.input-field label {
    color: #000;
    font-weight: 400;
}

.input-field input,
.input-field textarea {
    border-bottom: 1px solid #000 !important;
}

.input-field input[type=text]:focus + label {
    color: #ef6c00 !important;
}

.input-field input[type=email]:focus + label {
    color: #ef6c00 !important;
}

.input-field textarea[class=materialize-textarea]:focus + label {
    color: #ef6c00;
}

/* label underline focus color */

.input-field input:focus {
    /*    border-bottom: 1px solid #ef6c00 !important;
    */
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field textarea[class=materialize-textarea]:focus {
    /*    border-bottom: 1px solid #ef6c00;*/
    box-shadow: 0 1px 0 0 #000 !important;
}

.input-field input[type=email]:focus {
    /*    border-bottom: 1px solid #ef6c00 !important;
    */
    box-shadow: 0 1px 0 0 #000 !important;
}

/* FOOTER */

footer {
    height: 40px;
    padding: 0 !important;
}

.just {
    justify-content: center;
}

footer p {
    margin: 0;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}
